<form [formGroup]="OutStandingSummaryForm">
  <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <i class="material-icons">
              search
            </i>
            Search
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxFlex fxLayoutGap="5px">
            <div fxFlex>
              All Company:  <app-company-autocomplete></app-company-autocomplete>
            </div>
            <div fxFlex>
              All Party:    <app-party-autocomplete></app-party-autocomplete>
              </div>
            <div fxFlex>
              All Agent:  <app-agent-autocomplete></app-agent-autocomplete>
            </div>
          
          </div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center" fxFlex fxLayoutGap="5px">
              <div fxFlex>
                  From Date :
                <mat-form-field>
                  <input formControlName="startDate" (focus)="pickerStart.open()" matInput [matDatepicker]="pickerStart" placeholder="Choose a date">
                  <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                  <mat-datepicker #pickerStart></mat-datepicker>
                </mat-form-field>
              </div>
              <div fxFlex>
                To Date :
                <mat-form-field>
                    <input formControlName="endDate" (focus)="pickerEnd.open()" matInput [matDatepicker]="pickerEnd" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
                    <mat-datepicker #pickerEnd></mat-datepicker>
                  </mat-form-field>
              </div>
            
              <div fxFlex>
                  <div class="Chart-button-row">
                      <button (click)="Search()" mat-raised-button>Search</button>
                      <button mat-raised-button (click)="clearSearch()">Clear</button>
      
                    </div>
               
              </div>
            
            </div>
         

        </mat-card-content>
      </mat-card>
    </div>
  </div>
  
</form>



  <div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
      <div fxFlex>
      <div class="chart-loading-shade" *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
        <!-- ID Column -->
        <!-- <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:80px"> #Id </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container> -->
  
        <ng-container matColumnDef="partyname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:180px"> PartyName </th>
          <td mat-cell *matCellDef="let row"> {{ row.partyName}} </td>
        </ng-container>
  
       
        <!-- Progress Column -->
        <ng-container matColumnDef="BillAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:300px"> Net Amount </th>
          <td mat-cell *matCellDef="let row"> {{row.BillAmount | currency:'INR' }} </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="PaidAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:180px"> Paid Amount </th>
          <td mat-cell *matCellDef="let row"> {{row.PaidAmount | currency:'INR' }} </td>
        </ng-container>
  
        <!-- Color Column -->
        <ng-container matColumnDef="Balance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:150px"> Unpaid Amount </th>
          <td mat-cell *matCellDef="let row"> {{row.Balance | currency:'INR' }} </td>
        </ng-container>
  
        <ng-container matColumnDef="partyId">
          <th mat-header-cell *matHeaderCellDef style="width:100px"> Open </th>
          <td mat-cell *matCellDef="let row">
  
            <!-- <mat-icon>edit</mat-icon>
                      <mat-icon class="maticonDelete" color="red">delete_forever</mat-icon> -->
            <div class="Action-Button-container">
              <button mat-icon-button (click)="redirectToUpdate(row.companyId,row.partyId,row.agentId)">
              
                <i class="material-icons" >
                  mode_edit
                </i>
              </button>
              <!-- <button mat-icon-button  (click)="CalltoDelete(row.id)" class="maticonDelete">
                <i class="material-icons">
                  delete_forever
                </i>
              </button> -->
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div class="no-results" [style.display]="dataSource.length == 0 ? '' : 'none'">
        No Record Found.
      </div>
      <div class="no-results" [style.display]="dataSource.length !== 0 ? '' : 'none'">
        <mat-paginator [length]="resultsLength" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
        </mat-paginator>
      </div>
  
    </div>